<div class="jumbotron" id="about">
	<div class="container">
		<div class="media">
			<div class="media-body">
				<div class="col-md-11">
					<h1><strong>About Us</strong></h1>
					<p>Learn more about Troops To Trade, NEI, and how it can help you.</p>
				</div>
			</div>

		</div>

	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 pricing intro">
			<h2 class="page-headline large text-center"><strong>What is Troops To Trade?</strong></h2>
			<div class="text-center">
				<%= image_tag("t2tlog.png", alt:"Soldier") %>
			</div>
			<p>
				Troops to Trade is a collaborative mission between the <strong>National Customs 
			Brokers and Forwarders Association of America, Inc. Educational Institute (NEI)</strong> and the <strong>National Defense Transportation Association (NDTA)</strong>, whose goal is to provide a professional credentialing opportunity to veterans & military personnel that will allow them opportunities for a career in an industry that is growing at an extremely fast pace. We are well aware of the value that a 
			trained and dedicated military veteran can bring to an organization, but we 
			can't grow the program without your help! We are in need of program 
			champions from across the country. If you have the time or interest, please 
			consider volunteering today! Contact <a href="mailto:nei@ncbfaa.org"> nei@ncbfaa.org </a>for more information.

			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 pricing intro">
			<h2 class="page-headline large text-center"><strong>What is the NEI?</strong></h2>
			<div class="text-center">
				<%= image_tag("neilogo.png", alt:"Soldier") %>
			</div>
			<p>
				The NCBFAA Educational Institute (NEI) is dedicated to providing educational opportunities to the members of NCBFAA and the larger trade community in the areas of international trade, supply chain management, global logistics, customs brokerage, export transactions, transportation, attendant government regulation, and those areas of knowledge necessary to manage or advance a career path in a business providing services to those sectors. The NEI is licensed by the District of Columbia Education Licensure Commission.
			</p>
		</div>
	</div>
</div>
<div class="partners">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>Our <strong>Partners</strong></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<p>Image</p>
			</div>
			<div class="col-md-3">
				<p>Image</p>
			</div>
			<div class="col-md-3">
				<p>Image</p>
			</div>
			<div class="col-md-3">
				<p>Image</p>
			</div>
		</div>
	</div>
</div>