<div class="jumbotron" id="home">
	<div class="container">
		<div class="media">
			<div class="media-body">
				<div class="col-md-11">
					<h1><strong>About Us</strong></h1>
					<p>Learn more about Troops To Trade, NEI, and how it can help you.</p>
				</div>
			</div>

		</div>

	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 pricing intro">
			<h2 class="page-headline large text-center"><strong>What is Troops To Trade?</strong></h2>
			<div class="text-center">
				<img src="#">
			</div>
			<p>
				Blah Blah Blah
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 pricing intro">
			<h2 class="page-headline large text-center"><strong>What is the NEI?</strong></h2>
			<div class="text-center">
				<img src="#">
			</div>
			<p>
				Blah Blah Blah
			</p>
		</div>
	</div>
</div>