<div class="jumbotron" id="jumbotron-index">
	<div class="container">
		<div class="media">

			<div class="media-body">
				<div class ="col-md-11">
				<h1>Troops To Trade</h1>
				<p>
					Troops to Trade is a collaborative mission between the Natonal Customs Brokers and Forwarders Assocation of America Educational Institute (NEI) and the National Defense Transporting Association (NDTA), whose gaol is to provide a professional credentialing opportunity to veterans and miltary personnel that will allow them opportunities for a career in an industry that is growing at an extremely fast pace.
				</p>
				<p><a class="btn btn-primary btn-lg">Learn More</a></p>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="container">
	<div class="row services">
		<div class="col-lg-6 text-center">
			<div>
			 <%= image_tag("Soldier.png", alt:"Soldier") %>
			 <h2><strong>For Candidates</strong></h2>
			 <p> Are you a veteran or active military personnel preparring to transition to civilian life? Do you have experience or interest in logistics or global trade? If so we invite you to become part of our Troops To Trade program. Through this program, military personnel, both active and veterans, are eligible to take our CCS/CES courses at 1/2 price, with no membership fees required. Once you successfully complete a course and become certified, you will be entered into a candidate database that will be searchable by top trade companies across the country! So, what are you waiting for? <a href="#"> Submit an application today!</a></p>
			</div>
		</div>
		<div class="col-lg-6 text-center">
			<div>
				<%= image_tag("bman.png", alt:"Business") %>
				<h2>For Businesses</h2>
				<p>Understand that these young men and women have served in the military in the capacity of traffic management specialists and bring a sense of commitment, strong values, and excellent work ethic to the work force. Sign up and agree to view the candidate database and offer to interview as many candidates from this program as practical. If not selected for hiring, provide feedback to the candidates on how they may improve their chances of being hired.</p>
			</div>
		</div>
	</div>
</div>