<div class="jumbotron" id="jumbotron-index">
	<div class="container">
		<div class="media">

			<div class="media-body">
				<div class ="col-md-11">
				<h1>Troops to Trade</h1>
				<p>
					Troops to Trade is a collaborative mission between the National Customs Brokers and Forwarders Association of America, Inc. Educational Institute (NEI) and the National Defense Transporting Association (NDTA), whose goal is to provide a professional credentialing opportunity to veterans and military personnel that will allow them opportunities for a career in an industry that is growing at an extremely fast pace.
				</p>
				<p><%= link_to "Learn More", main_about_path, class: "btn btn-primary" %> </p>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="container">
	<div class="row services">
		<div class="col-lg-6 text-center">
			<div>
			 <%= image_tag("Soldier.png", alt:"Soldier") %>
			 <h2>For Candidates</h2>
			 <p> Are you a veteran or active military personnel preparing to transition to civilian life? Do you have experience or interest in logistics or global trade? If so we invite you to become part of our Troops to Trade program. Through this program, military personnel, both active and veterans, are eligible to take our CCS/CES courses at 1/2 price, with no membership fees required. Once you successfully complete a course and become certified, you will be entered into a candidate database that will be searchable by top trade companies across the country! So, what are you waiting for?<br/> <a href="#"> Submit an application today!</a></p>
			</div>
		</div>
		<div class="col-lg-6 text-center">
			<div>
				<%= image_tag("bman.png", alt:"Business") %>
				<h2>For Businesses</h2>
				<p>Understand that these young men and women have served in the military, have experience with logistics, traffic management, and international trade, and bring a sense of commitment, strong values, and excellent work ethic to the work force. Sign up and agree to view the candidate database and offer to interview as many candidates from this program as possible for your open position. If not selected for hiring, provide feedback to the candidates on how they may improve their chances of being hired.<br/> <%= link_to "Join as an organization today!", new_org_registration_path %></p>
			</div>
		</div>
	</div>
</div>
<div class="contact">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-center">Have a question? Let us know.</h3>
			</div>			
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div class="alert alert-success hidden" id="contactSuccess">
					<strong>Success!</strong> You message has been sent to us.
				</div>
				<div class="alert alert-error hidden" id="contactError">
					<strong>Error!</strong> You message has not been sent to us.
				</div>
				<h2 class="short"><strong>Contact</strong> Us </h2>
				<form class="clearfix" accept-charset="utf-8" method="get" action="mailto:nei@ncbfaa.org">
					<div class="row">
						<div class="col-sm-6 form-group">
							<label for="name">Name</label>
							<input type="text" placeholder="Name" value="" name="name" id="name" class="form-control input-lg">
						</div>
						<div class="col-sm-6 form-group">
							<label for="email">Email Address</label>
							<input type="email" placeholder="Email Address" value="" name="email" id="email" class="form-control input-lg">
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 form-group">
							<label for="message">Message</label>
							<textarea rows="4" name="message" id="message" class="form-control"></textarea>
						</div>
					</div>
					<button class="btn btn-primary btn-xlg" type="submit">Send Message</button>
				</form>	
			</div>
			<div class="col-md-offset-2 col-md-4">
				<br/>
				<h4 class="pull-top">Get in<strong> touch</strong></h4>
				<p>Placeholder text goes here.</p>
				<hr>
				<h4>NEI<strong> Office</strong></h4>
				<ul class="list-unstyled">
					<li><strong>Address: </strong>1200 18th Street Suite #901, Washington DC, 20036 United States</li>
					<li><strong>Phone: </strong>(202)466-0222</li>
					<li><strong>Email: </strong><a href="mailto:nei@ncbfaa.org">nei@ncbfaa.org</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>	