<div class="jumbotron-pricing" id="home">
	<div class="container">
		<div class="media">
			<div class="media-body">
				<div class="col-md-11" id="media pricing">
					<h1><strong>Become a Certified Specialist</strong></h1>

					<p>The NCBFAA Educational Institute (NEI)'s Certified Customs Specialist (CCS) and Certified Export Specialist (CES) Certification Programs are designed to assist trade professionals involved in the import/export industries to become experts in current regulations.</p>
				</div>				
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="cole-md-12 pricing-intro">
			<h2 class="text-center">Special Troops to Trade Pricing for NEI courses are as follows:</h2>
			<p class="text-center">We believe that these prices offer the best possible value for your education. However, if you are interested in these course but the tuition fees are a hardship, please contact <a href="mailto:NEI@ncbfaa.org?Subject=Troops%20To%20Trade">nei@ncbfaa.org </a>for possible alternatives.</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row pricing-table">
		<div class="col-md-4 col-md-offset-1">
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h3 class="text-center">Certified Customs Specialist Course</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead price-panel"><strong>$650 / $325 with member company</strong></p>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item"><i class="icon-ok text-danger"></i>Online Platform</li>
						<li class="list-group-item"><i class="icon-ok text-danger"></i>Six Month Self-Paced</li>
						<li class="list-group-item"><i class="icon-ok text-danger"></i>Support</li>
					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block btn-danger" href="http://www.ncbfaa.org">Apply Today!</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="text-center">Certified Export Specialist Course</h3>
				</div>
				<div class="panel-body text-center">
					<p class="lead price-panel"><strong>$650 / $325 with member company</strong></p>
					<ul class="list-group list-group-flush text-center">	
						<li class="list-group-item"><i class="icon-ok text-danger"></i>Online Platform</li>
						<li class="list-group-item"><i class="icon-ok text-danger"></i>One Year Self-Paced</li>
						<li class="list-group-item"><i class="icon-ok text-danger"></i>Support</li>
					</ul>
					<div class="panel-footer">
						<a class="btn btn-lg btn-block btn-info" href="http://www.ncbfaa.org">Apply Today!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">Certified <span style="color: #d9534f">Customs</span> Specialist</h3>
			<div class="text-center pricing-icon">
				<%= image_tag("ship.png", alt:"Ship") %>
			</div>
			<p>
				The NCBFAA's <strong>Certified Customs Specialist (CCS) Certification Program </strong> is designed to assist trade professionals involved in the import industry to become experts in the current import regulations. Whether you have a broker’s license or you have just a year or two of related experience, this course will provide you with a solid foundation for you to increase your industry knowledge. The CCS course will review fundamental points relevant to the importation process while delving into practical, relevant subject matter not generally tested on the formal Customs licensing exam. Each topic will help you grow and develop as an import professional. You will find that participating in the CCS program will provide you numerous venues for honing your professional skills while continuing to stay up with the rapidly changing marketplace within import industry. You cna find more information on our main site:<a href="http://www.ncbfaa.org/Scripts/4Disapi.dll/4DCGI/cms/review.html?Action=CMS_Document&DocID=13801&MenuKey=education"> NCBFAA CCS Program</a>
			</p>
		</div>
	</div>
	<div class="row price_bottom">
		<div class="col-md-12">
			<h3 class="text-center">Certified <span style="color: #5bc0de">Export </span>Specialist</h3>
		</div>
		<div class="text-center pricing-icon">
				<%= image_tag("plane.png", alt:"Plane") %>
		</div>
		<p>
			The NCBFAA's <strong> Certified Export Specialist (CES) Certification Program </strong>is designed to help trade professionals involved in the export industry to become competent and knowledgeable in the current export regulations. You will find that participation in the CES program will provide you numerous venues for honing your professional skills while continuing to stay up with the rapidly changing marketplace within which OTI/Freight Forwarders function. The coursework that will be available is varied and wide ranging, encompassing all aspects of the trade. You can find more information on our main site: <a href="http://www.ncbfaa.org/Scripts/4Disapi.dll/4DCGI/cms/review.html?Action=CMS_Document&DocID=13804&MenuKey=education">NCBFAA CES Program</a>
		</p>
	</div>
</div>