<div class="container">
	<div class="text-center">
		<h1 class="volunteer_header">Volunteer</h1>
		<p class="volunteer_sub">Help make a difference in the lives of our veterans</p>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<p>Troops to Trade is a collaborative mission between the National Customs 
				Brokers and Forwarders Association of America Educational Institute (NEI) 
				and the National Defense Transportation Association (NDTA), whose goal is 
				to provide a professional credentialing opportunity to veterans & military 
				personnel that will allow them opportunities for a career in an industry that 
				is growing at an extremely fast pace. We are well aware of the value that a 
				trained and dedicated military veteran can bring to an organization, but we 
				can’t grow the program without your help! We are in need of program 
				championsfrom across the country. If you have the time or interest, please 
				consider volunteering today! Contact nei@ncbfaa.org for more information. </p>
			</div>
		</div>
		<%= image_tag("mapchamp.png", alt:"Map of Champions") %>
	</div>
	<div class="table-responsive soft-border">
			<table class="table table-striped">
				<tr>
					<th>Last Name, First Name</th>
					<th>Email</th>
					<th>City</th>
					<th>State</th>
					<th>Zip</th>
					<th>Phone Number</th>
					<th>Highest Education</th>
					<th>NEI Certificate</th>
					<th>Military Status</th>
					<th>Desired Field Of Work</th>
					<th>Desired Salary</th>
					<th>Contact?</th>

				</tr>
					<tr></tr>
						<td> info </td>
						<td> info </td>
						<td> info </td>
						<td> info </td>
						<td> info </td>
						<td> info </td>
						<td> info </td>
						<td> info </td>
						<td> info </td>
						<td> info </td>
						<td> info </td>
						<td> info </td>
			</table>
		</div>
</div>