@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 50px; }

footer * {
	color: #ffffff
}

footer {
	background: #121214;
	border-top: 4px solid #1F1F1F;
	font-size: 0.9em;
	position: relative;
}