@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);


/*** Main applicaition styling ***/

*, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

body { 
	padding-top: 50px;
	height: 100%;
}

.navbar-inverse {
	background-color: #1f3d7a;
	padding: 3px 0;
}

.navbar-nav > li {
	color: #ffffff !important;
}

.navbar-nav > li > a {
	color: #ffffff !important;
}

.navbar-nav > li > a:hover {
	color: #3E84C2 !important;
}

.navbar-link {
	color: #ffffff !important;
}

.navbar-text {
	color: #ffffff !important;
}

.jumbotron .media {
	margin: 50px 0;
}

.jumbotron .media-body h1 {
	margin-top: 100 px;
}

.jumbotron p {
	padding-top: 20px;
}

#jumbotron-index {
	background-image: url("background.jpg");
	color: #ffffff;
	background-attachment: fixed;
	background-size: cover;
}

.alert {
	margin: 0px;
}

footer * {
	color: #ffffff
}

footer {
	background: #1f3d7a;
	border-top: 4px solid #1f3d7a;
	font-size: 0.9em;
	position: relative;

}

.foot-logo {
	height: 40%;
	width: 40%;
	max-height: 64px;
	max-width: 144px;
	margin-left: -80px;
	padding-top: 5px;
}

.text-left > li {
	text-align: right;

}

.fill {
	height: 80vh;
}

/*** Index Services ***/

.services {
	padding-top: 30px;
}

.services p{
	margin: 30px 0;
}

.contact  {
	background-color: #eeeeee;
	min-height: 400px;
}

/*** Pricing Page ***/

.jumbotron-pricing {
	color: #ffffff;
	background-color: #61799E;
}

.jumbotron-pricing p {
	padding-top: 20px;
}

.jumbotron-pricing .media {
	margin: 50px 0;
}

.jumbotron-pricing .media-body {
	margin-top: 100px;
}

.pricing-intro {
	margin-bottom: 70px;
}

.pricing-table .panel {
	background: #eeeeee;
}

.pricing-table .panel-danger {
	border: 1px solid #CD5A48;
}

.pricing-table .panel-info {
	border: 1px solid #3A87B0;
}

.pricing-table .panel-success {
	border: 1px solid #468847;
}

.pricing-intro h2 {
	margin-bottom: 20px;
}

.price-panel {
	font-size: 35px;
}

.pricing-icon {
	margin-bottom: 20px;
}

/*** About Page ***/

#about {
	background-image: url("pen.jpg");
	background-size: cover;
	color: #ffffff;
}

.partners {
	background-color: #3f80c0;
	color: #ffffff;
	padding: 20px 0;
	margin-top: 10px;
}

/*** Profile Page ***/

.profile-heading {
	margin-bottom: 40px;	
}

/*** Contact Page ***/

#contact_title {
	font-size: 80px;
	padding-top: 10px;
}

#contact_sub {
	padding: 20px 0;
	margin-bottom: 20px;
	font-size: 24px;
}

.contact_header {
	background-color: #acacac;
	color: #ffffff;
	margin-bottom: 50px;
}

.offset_contact {
	padding-left: 15px;
}

.map_contact {
	padding: 45px 0;
	font-size: 24px;
}

/*** Bottom Render On Devise New ***/

#render-new-bottom {
	padding-bottom: 10px;
}

/*** Database display ***/

.table-padding {
	padding: 10px;
}

.soft-border {
	border-radius: 10px;
}